

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<form action="" method="post">
   <label for="usuario">Usuario:</label>
   <input type="text" id="usuario" name="_usuario" value=""/>
   <label for="correo">Correo:</label>
   <input type="text" id="correo" name="_correo" value=""/>
   <label for="password">Password:</label>
  <input type="password" id="password" name="_password"/>
  <label for="repetirpassword">Repetir password:</label>
  <input type="password" id="repetirpassword" name="_repetirpassword"/>
  <button type="submit">Enviar</button>
 </form>
   
{% endblock %}
